[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
chardet = "*"
colorama = "*"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
html5lib = "*"
language-selector = "*"
psycopg2 = "*"
pycurl= = "*"
pygobject = "*"
pytz = "*"
requests = "*"
six = "*"
urllib3 = "*"
whitenoise = "*"

[requires]

python_version = "3.6"
